<template>
	<v-container>
		<v-row>
			<v-col>
				<v-date-picker title="Start Date" v-model="startDate" @input="getWeather"></v-date-picker>
			</v-col>
			<v-col>
				<v-date-picker title="End Date" :rules="endDateRules" v-model="endDate"
							   @input="getWeather"></v-date-picker>
			</v-col>
		</v-row>
		
		<v-container fluid v-if="Object.keys(datas).length > 0">
			<v-row>
				<v-col cols="10">
					<v-text-field type="number" outlined dense v-model.number="daysMovingAvg"
								  label="How many avarage days from start date?" :rules="numberFieldRules"></v-text-field>
				</v-col>
				<v-col cols="2">
					<v-text-field readonly type="number" outlined dense v-model.number="avg"
								  label="Average"></v-text-field>
				</v-col>
				<v-col cols="12" v-if="chartLoaded">
					<line-chart :x-axis="datas.time"
								:y-axis="[
									{label: 'temp', data: datas.temperature_2m, backgroundColor: '#89023E'},
									{label: 'precipitation', data: datas.precipitation, backgroundColor: '#57737A'},
									{label: 'moving avg', data: movingAvg, backgroundColor: '#000'}
									]">
					
					</line-chart>
				</v-col>
			
			</v-row>
		</v-container>
	
	</v-container>
</template>

<script>
import axios from 'axios'
import LineChart from "@/components/LineChart";

export default {
	name: 'HelloWorld',
	components: {LineChart},
	data()
	{
		return {
			lat: 0,
			lon: 0,
			
			startDate: new Date().toISOString().slice(0, 10),
			endDate: new Date(new Date().setDate(new Date().getDate() + 1)).toISOString().slice(0, 10),
			
			endDateRules: [v => new Date(v.getTime()) > new Date(this.startDate).getTime() || 'Must be higher than start date'],
			
			datas: {},
			chartLoaded: false,
			
			daysMovingAvg: 1,
			numberFieldRules: [v => ((new Date(this.endDate).getTime() - new Date(this.startDate).getTime()) / 86400000) >= v || 'Select a wider span of time or reduce the avg days']
		}
	},
	
	computed: {
		avg()
		{
			const totalAvgElements = this.datas.temperature_2m.slice(0, 24*this.daysMovingAvg)
			
			const sum = totalAvgElements.reduce((prev, current) => prev + current, 0)
			
			return (sum/totalAvgElements.length).toFixed(4)
		},
		
		movingAvg()
		{
			const toReturn = []
			
			this.datas.temperature_2m.forEach((temp, index) => {

				const tempArray = this.datas.temperature_2m.slice(index < 24 ? 0 : index - 24, index + 24)
				const sum = tempArray.reduce((prev, current) => prev + current, 0)
				toReturn[index] = sum / tempArray.length
			})
			
			return toReturn
		}
	},
	
	mounted()
	{
		window.navigator.geolocation.getCurrentPosition(this.savePosition, this.sendError)
	},
	
	methods: {
		savePosition(position)
		{
			const {latitude, longitude} = position.coords
			this.lat = latitude
			this.lon = longitude
			
			this.getWeather()
		},
		
		sendError()
		{
			this.$toast.error('Error getting your position data')
		},
		
		formatDate(dateString)
		{
			const date = new Date(dateString)
			const year = date.getFullYear()
			const month = (date.getMonth() + 1).toLocaleString('it-IT', {
				minimumIntegerDigits: 2
			})
			const day = (date.getDate()).toLocaleString('it-IT', {
				minimumIntegerDigits: 2
			})
			
			return `${year}-${month}-${day}`
		},
		
		getWeather()
		{
			const formattedStart = this.formatDate(this.startDate)
			const formattedEnd = this.formatDate(this.endDate)
			
			this.chartLoaded = false
			
			axios.get(`https://api.open-meteo.com/v1/forecast?
			latitude=${this.lat.toFixed(2)}&
			longitude=${this.lon.toFixed(2)}&
			hourly=temperature_2m,precipitation&
			start_date=${formattedStart}&
			end_date=${formattedEnd}`)
				.then(res => {
					this.datas = res.data.hourly
					this.chartLoaded = true
				})
				.catch(err => {
					this.$toast.error('Cannot fetch data')
					console.error(err)
				})
		}
	}
}
</script>
