<template>
	<v-app>
		<v-app-bar
			app
			color="white"
			dark
			elevation="0"
		>
			<div class="d-flex align-center">
				<v-img
					alt="DataHow Logo"
					class="mr-2"
					contain
					src="https://u.jimcdn.com/cms/o/s0a24caf15b538a38/userlayout/img/logo.png?t=1567877688"
					transition="scale-transition"
					width="140"
				/>
				
			</div>
			
			<v-spacer></v-spacer>
		</v-app-bar>
		
		<v-main>
			<router-view/>
		</v-main>
	</v-app>
</template>

<script>
export default {
	name: 'App',
	
	data: () => ({
		//
	}),
};
</script>
